{{ define "content" -}}

  <article class="post bg-white">
    <!-- post-header -->
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
      {{ partial "post/i18nlist.html" . }}
      <div class="post-meta">
        <svg t="1614696813308" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2029" width="15" height="15" style="vertical-align: middle;"><path d="M800 960H224c-52.928 0-96-43.072-96-96V224c0-52.928 43.072-96 96-96h448c17.696 0 32 14.336 32 32s-14.304 32-32 32H224c-17.632 0-32 14.368-32 32v640c0 17.664 14.368 32 32 32h576c17.664 0 32-14.336 32-32V352c0-17.664 14.304-32 32-32s32 14.336 32 32v512c0 52.928-43.072 96-96 96zM612 448a31.912 31.912 0 0 1-22.624-9.376c-12.512-12.512-12.512-32.736 0-45.248L907.392 75.36c12.512-12.512 32.736-12.512 45.248 0s12.512 32.736 0 45.248L634.624 438.624C628.384 444.896 620.192 448 612 448z m-132 0H288c-17.664 0-32-14.336-32-32s14.336-32 32-32h192c17.664 0 32 14.336 32 32s-14.336 32-32 32z m192 192H288c-17.664 0-32-14.304-32-32s14.336-32 32-32h384c17.696 0 32 14.304 32 32s-14.304 32-32 32z" fill="#8a8a8a" p-id="2030"></path></svg>
        <span style="vertical-align: middle;">
          <time datetime="{{ .Date.Format "2006-01-02" }}" class="post-time">
          更新于
            {{ .Lastmod.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
          </time>
        </span>
        {{ with .Params.categories -}}
          <div class="post-category">
            {{ range . }}
            {{- $name := . -}}
            {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
              <a href="{{ .Permalink }}"> {{ $name }} </a>
            {{ end -}}
            {{ end }}
          </div>
        {{- end }}
        
        {{ if .Site.Params.moreMeta -}}
          <span class="more-meta"> {{ i18n "wordCount" .WordCount }} </span>
          <span class="more-meta"> {{ i18n "readingTime" .ReadingTime }} </span>
        {{- end }}

        <!-- Counter busuanzi -->
        {{ if .Site.Params.counter.busuanzi.enable }}
          <span id="busuanzi_container_page_pv">
            | 阅读 <span id="busuanzi_value_page_pv"></span>
          </span>
        {{ end }}

        <!-- Counter leancloud -->
        {{ if .Site.Params.counter.leancloud.enable }}
          <span id="{{ .RelPermalink }}" class="leancloud_visitors" data-flag-title="{{ .Title }}">
            <span class="post-meta-item-text"> | 阅读 </span>
            <span class="leancloud-visitors-count"></span>
          </span>
        {{ end }}
      </div>
    </header>

    <!-- TOC -->
    <!-- {{ partial "post/toc.html" . }} -->

    <!-- Content -->
    <div class="post-content">
      {{ .Content }}
    </div>

    <!-- Copyright -->
    <!-- {{ partial "post/copyright.html" . }} -->

    <!-- Reward -->
    {{ partial "post/reward.html" . }}

    <footer class="post-footer">
      {{ with .Params.tags -}}
        <div class="post-tags">
          {{ range . }}
          {{- $name := . -}}
          {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "tags/%s" ($name | urlize))) -}}
          <a href="{{ .Permalink }}">{{ $name }}</a>
          {{ end -}}
          {{ end }}
        </div>
      {{- end }}

      <!-- Post Pagination -->
      <nav class="post-nav">
        {{ with .NextInSection }}
          <a class="prev" href="{{ .RelPermalink }}">
            {{/* icon left */}}
            <i class="iconfont">
              {{ partial "svg/left.svg" }}
            </i>
            <span class="prev-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ i18n "prev_post" }}</span>
          </a>
        {{- end }}
        {{ with .PrevInSection }}
          <a class="next" href="{{ .RelPermalink }}">
            <span class="next-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ i18n "next_post" }}</span>
            {{/* icon right */}}
            <i class="iconfont">
              {{ partial "svg/right.svg" }}
            </i>
          </a>
        {{- end }}
      </nav>
    </footer>
  </article>

  <!-- Author Info -->
  {{ if and (.Params.author | default .Site.Author.name) (.Params.showAuthorInfo | default .Site.Params.showAuthorInfo) }}
  {{ partial "author_info.html" (dict "author" (.Params.author | default .Site.Author.name) "context" $) }}
  {{ end }}

  <!-- Comments -->
  {{ partial "comments.html" . }}
{{- end }}
