{{ if and .IsPage (ne .Params.comment false) }}

  <!-- Commento -->
  {{- if .Site.Params.commento.enable -}}
    <div id="comments">
      <div id="commento"></div>
      <script src="{{ .Site.Params.commento.url }}/js/commento.js"></script>
      <noscript>Please enable JavaScript to view the
        <a href="https://commento.io/">comments powered by Commento.</a>
      </noscript>
    </div>
  {{- end }}

  <!-- utteranc -->
  {{ if .Site.Params.utteranc.enable }}
    <div class="post bg-white">
      <script src="https://utteranc.es/client.js"
            repo= "{{ .Site.Params.utteranc.repo }}"
            issue-term="{{ .Site.Params.utteranc.issueTerm }}"
            theme="{{ default "github-light" .Site.Params.utteranc.theme }}"
            crossorigin="anonymous"
            async>
      </script>
    </div>
  {{ end }}


{{- end }}
