{{ define "content" -}}
<article class="post bg-white">
    <!-- post-header -->
    <header class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
        {{ partial "post/i18nlist.html" . }}
    </header>

    <!-- Content -->
    <div class="post-content">
        <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
        <script src="/pagefind/pagefind-ui.js" type="text/javascript"></script>
        <div id="search"></div>
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                new PagefindUI({
                    element: "#search",
                });
            });
        </script>

    </div>

</article>

{{- end }}